body {
    background-color: black;
    color: white;
    margin-top: 15%;
}
p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
    font-family: monospace;
    font-size: 110px;
    color: cyan;
}
#description {
    font-size: 14px;
    color: antiquewhite;
    opacity: 0.4;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn button {
    margin: 0 5px;
    width:80px;
    height: 40px;
    font-family: monospace;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#start {
    background-color: crimson;
    color: white;
}
#start:disabled {
    opacity: 0.3;
    transition-duration: 400ms;
}
#pause {
    background-color : hotpink;
    color: white;
}
#pause:disabled {
    opacity: 0.3;
    transition-duration: 400ms;
}

#reset {
    background-color: cyan;
    color: red;
}
#reset:disabled {
    opacity: 0.3;
    transition-duration: 400ms;
}